# --- Python (Archivos compilados) ---
__pycache__/
*.pyc
*.pyo

# --- Entornos Virtuales ---
venv/
env/
.env

# --- IDEs y Editores (Configuraciones locales) ---
.vscode/
.idea/

# --- Archivos de Sistema (Windows/Mac) ---
Thumbs.db
.DS_Store

# --- Logs y Bases de Datos locales ---
*.log
*.sqlite3